body {
    text-align: center;
    background-color: darksalmon
    
}
;h1 {
    background-color: rgb (103, 213, 137);
    <link rel="stylesheet" href="style.css">F
}
p { font-size: 25px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}image World-pana.png
